---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres-deployment
  namespace: default
  labels:
    app: postgres
spec:
  replicas: 0
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
      - name: postgres
        image: postgres:12
        ports:
        - containerPort: 5432
        env:
        - name: POSTGRES_HOST
          value:
        - name: POSTGRES_PORT
          value: 
        - name: POSTGRES_DB
          value:
        - name: POSTGRES_USER 
          valueFrom: 
            secretKeyRef:
              name: postgress-secret
              key: postgres-root-username
        - name: POSTGRES_PASSWORD
          valueFrom: 
            secretKeyRef:
              name: postgress-secret
              key: postgres-root-password
      restartPolicy: Always